body {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 0;
  height: 100%;
}

.root {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.header {
  font-weight: 300;
  font-size: 36px;
}

.header-sub {
  font-weight: 200;
  font-size: 16px;
  margin: 10px 20px 10px;
}

.header-container {
  margin-bottom: 50px;
  text-align: center;
}

.article-preview-text {
  white-space: pre-line;
}
